@(info: models.PageInfo, user: Option[models.User] = None, board: Option[services.Board])(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@info.title | @util.Config.siteTitle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,maximum-scale=1"/>
        <link href="//fonts.googleapis.com/css?family=PT+Serif:700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome/4.3.0/css/font-awesome.css"))'>
        <link rel='stylesheet' href='@routes.Assets.versioned("css/main.min.css")'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("nv.d3.css"))'>

    </head>
    <body>
        <div class="">
        @fragments.header(info,user)
        </div>
        <div class="container">
        @content
        </div>


        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("d3.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("nv.d3.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-nvd3.js"))'></script>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("highcharts-ng.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("highcharts.js"))'></script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app/app.module.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app/board/board.module.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app/board/board.routes.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app/board/board.controller.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app/board/board.service.js")'></script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/common/services/trello.service.js")'></script>
    </body>

</html>