@(info: models.PageInfo,
        tokenForm: Form[forms.UserToken.UserToken],
        user: Option[models.User] = None)(implicit flash: Flash, messages: Messages)

@import b3.vertical.fieldConstructor

@main(info, user) {
    <div class="row">
        <div class="col-md-6">
            <h4>Save the token!</h4>
            @b3.form(action = routes.Application.saveToken()) {

                @tokenForm.globalError.map { error =>
                    <p class="error">
                        @error.message
                    </p>
                }
                @b3.text(tokenForm("token"),
                    '_label -> "Token",
                    '_showConstraints -> false)

                @b3.free() {
                    <button type="submit" class="btn btn-default">Save the token</button>
                }
            }
        </div>
        <div class="col-md-6">
            @flash.get("error").map { message =>
                <div class="alert alert-danger" role="alert">
                    <strong>Fejl!</strong> @message
                </div>
            }

            @flash.get("success").map { message =>
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> @message
                </div>
            }
        </div>
    </div>




}

