@(info: models.PageInfo, loginForm: Form[controllers.LoginController.LoginForm])(implicit flash: Flash)

@main(info, None) {
    <h3>Opret en bruger på systemet!</h3>

    <div class="row">
        <div class="col-md-6">
            @flash.get("error").map { message =>
                <div class="alert alert-danger" role="alert">
                    <strong>Oprettelses fejl!</strong> @message
                </div>
            }
        </div>
    </div>

    @helper.form(action = routes.LoginController.create()) {

        @loginForm.globalError.map { error =>
            <p class="error">
                @error.message
            </p>
        }

        @helper.inputText(loginForm("email"), '_label -> "Email", '_showConstraints -> false)
        @helper.inputPassword(loginForm("password"), '_label -> "Password", '_showConstraints -> false)

        <button type="submit">Opret brugeren</button>
    }
}