@(info: models.PageInfo, user: Option[models.User] = None, memberInfo: Option[models.Member])

@main(info, user) {

    <div class="row">
        <div class="col-md-6">

            @memberInfo.map { m =>
                <h2>Welcome @m.fullName</h2>

                <ul>
                    @m.boards.map { board  =>
                        <li><a href="@routes.Application.board(board.id)">@board.name</a></li>
                    }
                </ul>
            }.getOrElse {
                <h4>Issues loading trello information</h4>
            }

        </div>

        <div class="col-md-6">

        </div>

    </div>

}