@(info: models.PageInfo,
        loginForm: Form[forms.LoginForm.Credentials],
        socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, flash: Flash, messages: Messages)

@import b3.vertical.fieldConstructor

@main(info, None) {

    <div class="row">

        <div class="col-md-6">

            <h3>Velkommen <small>Log ind med din Trello konto</small></h3>

            @if(socialProviders.providers.nonEmpty) {
                <div class="social-providers">
                    <div>
                    @for(p <- socialProviders.providers if p.id != "clef") {
                        <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)"><img src="@routes.Assets.versioned(s"images/providers/${p.id}.png")" width="256px" height="78px" alt="@Messages(p.id)"></a>
                    }
                    </div>
                </div>
            }

        </div>

        <div class="col-md-6">


            @flash.get("error").map { message =>
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> @message
                </div>
            }

            @flash.get("success").map { message =>
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> @message
                </div>
            }

            <blockquote>
                <p>
                    <small>To use the system, you need a trello account. Create one <a href="http://trello.com">here</a></small>
                </p>
            </blockquote>


        </div>

    </div>






}